.gradle/
.gradle-run/
.ghome9/
.android-home/
.gradle-native/
.gradle-native*/
.kotlin/
.user-home/
.userhome*/
gradle-8.13-copy/
gradle-8.13-local/
build/
**/build/
local.properties
.idea/
*.iml
captures/
.cxx/
externalNativeBuild/
